<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  th:replace="~{components/layout :: layout(title='Library', content=~{::main})}">

<body>
  <main>
    <section>
      <h1>Welcome to our library!</h1>
      <p>We are the largest library in town with plenty of books.</p>
    </section>
    <section>
      <h2>Books of the week</h2>
      <p>
        TODO - here a book list will come... Imagine the classical phrase
        here: "Under construction, coming soon..."
      </p>
    </section>
  </main>
</body>

</html>